* {
    box-sizing: border-box;
}

/* #app {
align-self: center;
align-items: center;
align-content: center;
justify-content: center;

} */

.header {

    font-family: monospace;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}

/* .frame {
    justify-content: left;
} */

body {
    /* padding: 120px; */
    padding-right: 120px;
    font-family: monospace;
    justify-content: center;
    text-align: center;
    background-color: rgb(236, 189, 215);
}

.createBoardGameElement {
    /* padding-top: 20px; */
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-items: center;
    align-items: center;
    padding-left: 430px;
}

.createTileElement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    height: 100%;
    width: 100%;
    border: 15px solid palevioletred;
    box-shadow: 0 0 0 5px rgb(205, 59, 107);
    border-radius: 15%;
    cursor: url('/IMG/heart-fill.svg'), auto;
    
    
    /* pointer pink; */
}

.frame {
    text-align: left;
    font-size: 20px;
    font-family: monospace;
    color: rgb(205, 59, 107);
}

.turn {
    text-align: left;
    font-size: 20px;
    font-family: monospace;
    /* display: flex;
    flex-direction: column; */
}

button{
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    width: 75px;
}

.createTileElement:hover {
    background-color: pink;
}




