* {
    box-sizing: border-box;
}

.header {

    font-family: monospace;
    font-size: 50px;
    text-align: center;
}

body {
    padding: 120px;
    padding-right: 250px;
    font-family: monospace;
}

.createBoardGameElement {
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-items: center;
    align-items: center;
}

.createTileElement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100 px;
    height: 100%;
    width: 100%;

}

.createTileElement:hover {
    background-color: pink;
}



